#canvas{
	background-color: #9e9e9e;
	border: 5px solid #000;
	border-radius: 5px;
	margin-left: 23%;
}
#rond,#rectangle,#trait{
  display:none;
}

.boutons{
	width: 180px;
	float:left;
	margin-top: 3%;
}
#color{
	float: right;
	margin-top: -28px;
}